@use "../utils/colors";
@use "../utils/variables";
@use "../utils/mixins";

.clients__list {
  justify-content: space-between;
}

.clients__link {
  @include mixins.flex-center;
  width: 170px;
  height: 92px;
  border: 1px solid colors.getColor("border-gray-v3");
  border-radius: 4px;
  gap: 30px;
  fill: colors.getColor("border-gray-v3");
  transition: border variables.$duration variables.$timingfunction,
    fill variables.$duration variables.$timingfunction;

  &:hover {
    border: 1px solid colors.getColor("primary");
    fill: colors.getColor("primary");
  }
}
