// font styles
$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;

// font sizes
$font-small: 12px;
$font-normal: 14px;
$font-medium: 16px;
$font-great: 18px;
$font-big: 20px;
$font-large: 26px;
$font-enormous: 36px;
$font-colossal: 44px;

// font weights
$font-medium-bold: 500;
$font-bold: 700;
$font-black: 900;
